// -----------------------------------------------------
//Kode-mono
// Used: nav-link>span , btn.scroll, section__title, tech__items-tooltip
@font-face {
  font-family: 'Kode Mono';
  src: url('../assets/fonts/Kode_Mono/static/KodeMono-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

// ---------------------------------------------------------
//Homemane Apple
// Used: logo pendev
@font-face {
  font-family: 'Homemade Apple';
  src: url('../assets/fonts/Homemade_Apple/HomemadeApple-Regular.ttf');
}

// ---------------------------------------------------------
//Kdam Thmor Pro
// Used: header>subheading
@font-face {
  font-family: 'Kdam Thmor Pro';
  src: url('../assets/fonts/Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf');
}

// --------------------------------------------------------------
// Roboto
// Used: nav>link
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 400;
}
// Used: header>heading, buttons
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
