// Figtree 600
// Used: nav-link
@font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree/static/Figtree-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

//Kode-mono
// Used: nav-link:span
@font-face {
  font-family: 'Kode Mono';
  src: url('../assets/fonts/Kode_Mono/static/KodeMono-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

//Homemane Apple
// Used: logo pendev
@font-face {
  font-family: 'Homemade Apple';
  src: url('../assets/fonts/Homemade_Apple/HomemadeApple-Regular.ttf');
}
