@use '../../abstracts/colors' as c;
@use '../../abstracts/breakpoints' as b;
@use '../../abstracts/variables' as v;

$motto-color: c.$font-color-darker;
$motto-font-size: clamp(2.2rem, 1rem + 1.5vw, 3rem);

$tech-tooltip-font-family: 'Kode Mono', monospace;
$tech-tooltip-font-color: c.$font-color-darker-2;
$tech-tooltip-font-size: clamp(1rem, 0.5rem + 0.4vw, 1.2rem);

$desc-color: c.$font-color-darker;

.motto {
  color: $motto-color;
  font-size: $motto-font-size;
  letter-spacing: 1px;
  text-align: center;
  font-style: italic;

  // IF animation text typing is active
  [data-type-text='true'] {
    position: relative;
    &::after {
      content: '|';
      position: absolute;
      font-style: normal;
      color: c.$primary-color;
    }
  }

  .icon {
    color: c.$primary-color;
    font-size: 0.3em;
    transition: opacity v.$transition-duration v.$transition-function;
    &:first-child {
      vertical-align: bottom;
    }
    &:last-child {
      vertical-align: top;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  @media screen and (min-width: b.$medium) {
    flex-direction: row;
    gap: clamp(8rem, 8vw, 15rem);
  }
  &__info-box {
    display: flex;
    flex-direction: column;
    gap: 2em;

    p {
      color: $desc-color;
      line-height: 1.5;
    }

    .strong {
      font-weight: 600;
      color: c.$primary-color;
    }
  }

  &__techs {
    // Styling for tech items is in the sheet bottom
    display: flex;
    flex-direction: column;
    gap: 2em;
    @media screen and (min-width: b.$medium) {
      max-width: 90%;
    }
  }

  &__img-box {
    display: none;
    @media screen and (min-width: b.$medium) {
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 35rem;
      max-height: 50rem;
      border-radius: v.$border-radious;
      box-shadow: 0 0 15px 0px rgba(255, 255, 255, 0.1);
      transition: box-shadow v.$transition-duration v.$transition-function;
      overflow: hidden;

      &:hover {
        box-shadow: 0 0 25px 0px rgba(255, 255, 255, 0.15);
        img {
          transform: scale(1.1);
        }
      }

      img {
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform v.$transition-duration v.$transition-function;
      }
    }
  }
}

.tech {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
  @media screen and (min-width: b.$medium) {
    row-gap: 3.5rem;
    column-gap: 3rem;
  }

  &__item {
    position: relative;
    max-width: 8rem;
    filter: grayscale(100%);
    transition: filter v.$transition-duration v.$transition-function;
    a {
      width: 100%;
      display: inline-block;
    }

    .icon {
      width: 100%;
      aspect-ratio: 1/1;
      height: unset;
    }

    .tooltip {
      position: absolute;
      z-index: -1;
      top: 110%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      color: $tech-tooltip-font-color;
      font-family: $tech-tooltip-font-family;
      font-size: $tech-tooltip-font-size;
      opacity: 0;
      transition:
        opacity v.$transition-duration v.$transition-function,
        transform v.$transition-duration v.$transition-function;
    }

    &:hover,
    &:focus {
      filter: grayscale(0);

      .tooltip {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
      }
    }
  }
}
