@use '../../abstracts/breakpoints' as b;
@use '../../abstracts/colors' as c;
@use '../../abstracts/variables' as v;

$background-color: #171717;

$title-font-size: clamp(2.1rem, 1rem + 1.5vw, 3rem);
$link-font-size: clamp(1.2rem, 0.6rem + 0.6vw, 1.6rem);

$form-label-font-size: clamp(1.3rem, 0.7rem + 1vw, 1.6rem);
$form-input-font-size: $form-label-font-size;
$form-label-color: rgba(255, 255, 255, 0.7);
$form-input-color: rgba(255, 255, 255, 0.8);
$form-border-color: rgba(255, 255, 255, 0.3);

$form-message-title-font-size: clamp(3.4rem, 1.5rem + 2vw, 5.5rem);
$form-error-font-color: #e03131;

.contactme {
  background-color: $background-color;
  padding: 2rem;
  border-radius: v.$border-radious;
  @media screen and (min-width: b.$medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 6rem;
  }

  &__title {
    display: inline-block;
    margin-bottom: 1em;
    font-size: $title-font-size;
    font-weight: 400;
    color: c.$primary-color;
    line-height: 1.4;

    .icon {
      position: relative;
      transform: translate(-10%, 10%);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.2rem;
    @media screen and (min-width: b.$medium) {
      gap: 2rem;
    }

    li {
      transition: transform v.$transition-duration v.$transition-function;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-size: $link-font-size;
    opacity: 0.8;
    font-weight: 400;

    .icon {
      transition: color v.$transition-duration v.$transition-function;
    }
  }

  &__title:hover + .contactme__links li,
  &__links li:hover,
  &__links li:focus-within {
    transform: translateX(5px);
    .icon {
      color: c.$primary-color;
    }
  }
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  margin-top: 4rem;
  &::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    height: 1px;
    background-color: c.$primary-color;
  }
  &::after {
    content: 'OR';
    position: absolute;
    top: -1rem;
    left: 50%;
    padding: 0 10px;
    font-size: 1.2rem;
    background-color: $background-color;
    transform: translateX(-50%) translateY(-50%);
  }
  @media screen and (min-width: b.$medium) {
    margin-top: unset;
    gap: 3.5rem;
    &::before,
    &::after {
      all: initial;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &:focus-within .form__label {
      color: c.$primary-color;
    }
  }

  &__label {
    color: $form-label-color;
    font-size: $form-label-font-size;
    text-transform: capitalize;
    transition: color v.$transition-duration v.$transition-function;
  }

  &__input {
    padding: 1em;
    color: $form-input-color;
    font-size: $form-input-font-size;
    font-family: inherit;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid $form-border-color;
    border-radius: v.$border-radious;
    resize: vertical;
    outline: transparent;
    transition: border-color v.$transition-duration v.$transition-function;

    &:focus,
    &:focus-visible {
      outline-color: c.$primary-color;
      border-color: c.$primary-color;
    }
  }
}

// Form validation

.form {
  &.form-message {
    visibility: hidden;
    pointer-events: none;
  }

  input:user-invalid {
    outline-color: $form-error-font-color;
    border-color: $form-error-font-color;
  }

  &__row {
    position: relative;
    .error-msg {
      position: absolute;
      top: 100%;
      padding-top: 0.5rem;
      font-size: 1.2em;
      font-weight: 400;
      color: $form-error-font-color;
    }
  }

  .message {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    visibility: visible;
    text-align: center;

    .title {
      font-size: $form-message-title-font-size;
      text-transform: uppercase;
    }

    .desc {
      margin: 2.5rem 0 2rem;
      color: $form-label-color;
    }

    .icon {
      font-size: 4em;
    }

    &--success {
      @extend .message;
      .title {
        color: c.$primary-color;
      }
      .icon {
        fill: c.$primary-color;
      }
    }
    &--error {
      @extend .message;
      .title {
        color: $form-error-font-color;
      }
      .icon {
        fill: $form-error-font-color;
      }
    }
  }
}

// Form loading state - Add style to Form Element

.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.78);
  transform: translate(-50%, -50%) rotate(0deg);
  content: '';
  animation: rotateSingleLoading 0.6s infinite linear;
  z-index: 10;
}

@keyframes rotateSingleLoading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
