@use '../abstracts/colors' as c;
@use '../abstracts/breakpoints' as b;
@use '../abstracts/variables' as v;

$heading-font: 'Roboto', sans-serif;
$heading-font-weight: 500;
$header-bgc: rgba(5, 5, 5, 1);

$subheading-font-color: #ffffff33;
$subheading-font-family: 'Kdam Thmor Pro', sans-serif;

// Desktop animation with line traveling left-right & pulse color
$subheading-animation-duration: 5s;

// Transition for desktop scroll animation
$transition-duration: 150ms;
$transition-function: linear;

.header {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  padding: 1em;

  @media screen and (min-width: b.$medium) {
    justify-content: center;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $header-bgc;
  }
  // --------------------------------------
  // BG Styling

  .myphoto {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    opacity: 0.4;
    height: 90%;
    width: 100%;
    background-image: url('../img/header/my photo--mobile.jpg');
    background-position: top;
    background-size: cover;
    filter: grayscale(100%);

    @media screen and (min-width: b.$medium) {
      height: 100%;
      top: 60%;
      left: 50%;
      background-image: url('../img/header/my photo.jpg');
      aspect-ratio: 1.8/1;
      transform: translate(-50%, -50%);
      opacity: 0.1;
      transition: opacity $transition-duration $transition-function;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5%;
      transform: translateY(-50%);
      background-color: $header-bgc;
      box-shadow:
        0 0 30px 30px $header-bgc,
        0 0 15px 10px $header-bgc;
    }
  }
  // ---------------------------------------
  // HEADING

  &__heading-box {
    position: relative;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: $heading-font;
    font-size: clamp(8rem, 6rem + 10vw, 30rem);
    text-transform: uppercase;
    font-weight: $heading-font-weight;
    overflow: hidden;

    span {
      line-height: 1;
      word-spacing: -10px;
      @media screen and (min-width: b.$medium) {
        display: block;
        text-align: center;
        line-height: normal;
        word-spacing: normal;
        transition: transform $transition-duration $transition-function;
      }
    }

    // Only for mobile
    .text-stroke-mobile {
      font-size: clamp(5rem, 4rem + 8vw, 20rem);
      color: transparent;
      text-shadow:
        0 0 1px rgba(10, 10, 10, 1),
        0 0 2px c.$primary-color,
        0 0 4px c.$primary-color;
      @media screen and (min-width: b.$medium) {
        display: none;
      }
      span {
        color: c.$primary-color;
      }
    }

    .text-stroke-desktop {
      display: none;
      @media screen and (min-width: b.$medium) {
        display: block;
        margin: 0.5em auto 0;
        font-size: clamp(5rem, 2rem + 8vw, 10rem);
        letter-spacing: 10px;
        fill: transparent;
        stroke: c.$primary-color;
        stroke-width: 1;
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        animation: textStrokeAnim 4000ms linear both;
        animation-iteration-count: 1;
        transition: transform $transition-duration $transition-function;
      }
    }
  }

  &__subheading-box {
    display: none;

    @media screen and (min-width: b.$medium) {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem;
      color: $subheading-font-color;
      font-family: $subheading-font-family;
      text-transform: uppercase;
      transition: opacity $transition-duration $transition-function;
      p {
        font-size: clamp(2rem, 1rem + 0.7vw, 3rem);
      }
    }
  }
  &__anime-line {
    position: relative;
    flex-grow: 1;
    display: block;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -50px;
      transform: translate(-50%, -50%);
      height: 3px;
      width: 50px;
      opacity: 0.4;
      background-color: c.$primary-color;
      border-radius: 500px;
      animation: traveling-line $subheading-animation-duration ease-in-out infinite alternate;
    }
  }

  &__myname {
    animation: pulse-color $subheading-animation-duration linear infinite alternate-reverse;
  }
  &__job-role {
    animation: pulse-color $subheading-animation-duration linear infinite alternate;
  }
}

@keyframes textStrokeAnim {
  0% {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    fill: #0000;
  }
  95% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 90%;
    fill: #0000;
  }
  100% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 0%;
    fill: transparent;
    filter: drop-shadow(2px 2px 10px #0007);
  }
}

@keyframes pulse-color {
  75% {
    color: $subheading-font-color;
  }
  100% {
    color: c.$primary-color;
  }
}

@keyframes traveling-line {
  0% {
    left: -50px;
  }
  100% {
    left: calc(100% + 50px);
  }
}
